#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.pfp{
    margin-top: 30vh;
}
.bigspace{
    margin-top: 25vh;
}
.space{
    margin-top: 5vh;
}
.mediumspace{
    margin-top: 10vh;
}
.marginleft{
    margin-left: 1vw;
}
.zoom {
    transition: transform .2s;
    margin: 0 auto;
}
.zoom:hover {
    transform: scale(1.1);
}