* {
    font-family: Segoe UI;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.zoom {
    transition: transform .2s;
    margin: 0 auto;
    border-radius: 7.5px;
}
.zoom:hover {
    transform: scale(1.1);
}
.pfp{
    margin-top: 10vh;
}
iframe{
    border-radius: 7.5px;
}